@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD_Operations_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to bottom, #a0c4ff, #caffbf);
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
           
        }

        .heading {
            font-size: 3em;
            color: #007bff;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="heading">Tech Inventory Management</h1>
    </div>
</body>
</html>
